.nav__container {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  /* right: 0; */
  height: 72px;
  align-items: center;
  background: transparent;
  padding-left: 1.4rem;
  padding-right: 0.5rem;
  transition: background 50ms linear;
  z-index: 50;
}

.nav__bgColor {
  background: rgb(9, 11, 19);
}

.nav__container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 72px;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.03) 15%,
    rgba(0, 0, 0, 0.125) 30%,
    rgba(0, 0, 0, 0.25) 46%,
    rgba(0, 0, 0, 0.4) 61%,
    rgba(0, 0, 0, 0.553) 75%,
    rgba(0, 0, 0, 0.694) 88%,
    rgba(0, 0, 0, 0.8)
  );
  z-index: -40;
}

.nav__listContainer {
  display: flex;
  align-items: center;
  height: 72px;
}

.nav__linkContainer {
  display: inline-block;
}

.nav__moreOptionsContainer {
  position: relative;
}

.nav__logoLink {
  padding: 1rem;
}

.nav__link {
  display: flex;
  align-items: center;
  padding: 1.35rem 1.35rem;
  position: relative;
  cursor: pointer;
}

.nav__logo {
  color: var(--pri);
  font-size: 1rem;
  font-weight: 500;
}

.nav__linkText {
  color: var(--pri);
  margin-left: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  font-size: 0.8rem;
  font-weight: 500;
  position: relative;
}

.nav__linkText::before {
  content: "";
  position: absolute;
  bottom: -8px;
  width: 0%;
  height: 2px;
  opacity: 0;
  transition: 0.2s ease-out 0.05s;
  transition-property: width, opacity;
  background-color: var(--pri);
}

.nav__linkContainer:hover .nav__linkText::before {
  width: 100%;
  opacity: 100%;
}

.dropDownMenu__link:hover .nav__linkText::before {
  width: 100%;
  opacity: 100%;
}

.nav__icon {
  color: var(--pri);
  height: 1.25rem;
  width: 1.25rem;
}

.nav__profileImgContainer {
  position: absolute;
  right: 0;
  top: 0;
  padding-left: 0.65rem;
  padding-right: 1.5rem;
  padding-top: 0.65rem;
  cursor: pointer;
  z-index: 70;
}

.nav__profileImg {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}

.hide {
  opacity: 0;
}

@media only screen and (max-width: 1024px) {
  .nav__icon {
    display: block;
    position: relative;
  }

  .nav__icon::before {
    content: "";
    position: absolute;
    bottom: -8px;
    width: 0%;
    height: 2px;
    transition: 200ms ease 50ms;
    transition-property: width;
    background-color: var(--pri);
  }

  .nav__link:hover .nav__icon::before {
    width: 100%;
  }

  .dropDownMenu__container {
    visibility: hidden;
    position: absolute;
    opacity: 0;
    display: block;
    top: 30px;
    left: 15px;
    width: 12rem;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    background-color: rgb(24, 24, 24);
    border: 1px solid rgba(255, 255, 255, 0.2);

    transition-property: opacity, visibility;
    transition-duration: 250ms;
    transition-timing-function: ease-in-out;
    transition-delay: 30ms;
  }

  .dropDownMenu__link {
    display: flex;
    align-items: center;
  }

  .dropDownMenu__text {
    color: var(--pri);
    margin-left: 0.75rem;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    font-size: 0.8rem;
    font-weight: 500;
  }

  .dropDownMenu_active {
    visibility: visible;
    opacity: 1;
  }
}

@media only screen and (max-width: 640px) {
  .nav__container {
    padding: 0 0.8rem;
  }

  .nav__logoLink {
    padding: 0.3rem;
  }

  .nav__profileImgContainer {
    padding-top: 0.9rem;
  }

  .nav__profileImg {
    height: 2.5rem;
    width: 2.5rem;
  }

  .nav__link {
    padding: 0.7rem 0.7rem;
  }
}
