.nav__container {
  display: flex;
  height: 72px;
  justify-content: space-between;
  align-items: center;
  background-color: #090b14;
  padding: 0rem 1.4rem;
  padding-right: 0.5rem;
}

.nav__listContainer {
  display: flex;
}

.nav__linkContainer {
  display: block;
}

.nav__link {
  display: flex;
  align-items: center;
  padding: 1rem 1.25rem;
  position: relative;
  cursor: pointer;
}

.nav__logo {
  color: var(--pri);
  font-size: 1rem;
}

.nav__linkText {
  color: var(--pri);
  margin-left: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  font-size: 0.8rem;
  font-weight: 500;
  position: relative;
}

.nav__linkText::before {
  content: "";
  position: absolute;
  bottom: -8px;
  width: 0%;
  height: 2px;
  transition: 0.2s ease-out 0.05s;
  transition-property: width;
  background-color: var(--pri);
}

.nav__linkContainer:hover .nav__linkText::before {
  width: 100%;
}

.nav__icon {
  color: var(--pri);
  height: 1.1rem;
  width: 1.1rem;
}

.nav__profileImg {
  height: 3rem;
  width: 3rem;
  border-radius: 100%;
  object-fit: cover;
  object-position: center;
}

.nav__profileImgContainer {
  padding: 0rem 1rem;
}

@media only screen and (max-width: 1024px) {
  .nav__linkText:nth-last-child(-n + 3) {
    display: none;
  }

  .nav__iconContainer {
    display: block;
    position: relative;
  }

  .nav__iconContainer::before {
    content: "";
    position: absolute;
    bottom: -8px;
    width: 0%;
    height: 2px;
    transition: 200ms ease 50ms;
    transition-property: width;
    background-color: var(--pri);
  }

  .nav__link:hover .nav__iconContainer::before {
    width: 100%;
  }
}
