.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(calc(33.33% - 20px), 1fr));
  margin-left: -20px;
}

.grid > * {
  margin-top: 20px;
  margin-left: 20px;
}

@media only screen and (max-width: 1440px) {
  .grid {
    grid-template-columns: repeat(auto-fill, minmax(calc(25% - 20px), 1fr));
  }
}

@media only screen and (max-width: 1024px) {
  .grid {
    grid-template-columns: repeat(auto-fill, minmax(calc(33.33% - 20px), 1fr));
  }
}

@media only screen and (max-width: 768px) {
  .grid {
    grid-template-columns: repeat(auto-fill, minmax(calc(50% - 20px), 1fr));
  }
}

.grid__title {
  font-size: 3rem;
  line-height: 1.4;
  color: var(--pri);
  letter-spacing: 1px;
  font-weight: 400;
  margin: 0;
}

.grid__titleWithFilter {
  display: flex;
  align-items: baseline;
  position: sticky;
}

.grid__filterButton {
  position: relative;
  bottom: 9px;
  background: rgba(255, 255, 255, 0.2);
  padding: 0.5rem 1rem;
  border-radius: 15px;
  margin-left: 2rem;

  position: relative;
  color: white;
  font-weight: 200;
  font-size: 0.9rem;
}

.grid__filterButton:hover {
  background: rgba(0, 0, 0, 0.9);
  cursor: pointer;
}

.grid__filterButtonContainer {
  display: flex;
  justify-content: space-between;
  width: 6rem;
  position: relative;
}

.grid__filterArrow {
  height: 1.1rem;
  width: 1.1rem;
}
