.studios__container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 0rem 2rem;
  margin-top: 2rem;
}

.studios__link {
  position: relative;
  padding-top: 56.25%;
  height: 0;
  overflow: hidden;
  border-radius: 9px;
  background: linear-gradient(rgb(48, 50, 62), rgb(30, 31, 42));
  border: 3px solid rgba(255, 255, 255, 0.2);
  box-shadow: rgb(0 0 0 / 69%) 0px 26px 30px -10px, rgb(0 0 0 / 73%) 0px 16px 10px -10px;
  transform: scale(1);
  transition-property: transform, border;
  transition-duration: 250ms;
  transition-timing-function: ease-out;
}

.studios__img {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
<<<<<<< HEAD
  bottom: 0;
  right: 0;
=======
  right: 0;
  bottom: 0;
>>>>>>> main
  position: absolute;
  object-position: center;
  object-fit: cover;
}

.studios__link:hover {
  cursor: pointer;
  transform: scale(1.07);
  border: 2px solid rgba(255, 255, 255, 0.9);
}

.studios__video {
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
<<<<<<< HEAD
  bottom: 0;
  right: 0;
=======
  right: 0;
  bottom: 0;
>>>>>>> main
  z-index: -1;
  height: 100%;
  width: 100%;
  transform: scale(1);
}

.studios__link:hover .studios__video {
  opacity: 1;
  transform: scale(1.07);
}

@media screen and (max-width: 768px) {
  .studios__container {
    gap: 0rem 0.75rem;
  }
}
