html,
body {
  padding: 0;
  margin: 0;
  background-color: var(--bg);
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  list-style: none;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root {
  --pri: #f9f9f9;
  --bg: #1e222e;
}

.layout {
  padding: 0 calc(3.5vw + 24px);
}
